<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.CheckMapper">
    <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.Check">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="f_id" jdbcType="BIGINT" property="fId" />
        <result column="last_update_time" jdbcType="DATE" property="lastUpdateTime" />
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="han_cai" jdbcType="DECIMAL" property="hanCai" />
        <result column="cai" jdbcType="DECIMAL" property="cai" />
        <result column="re_ch" jdbcType="DECIMAL" property="reCh" />
        <result column="wai_wei" jdbcType="DECIMAL" property="waiWei" />
        <result column="wai_gou" jdbcType="DECIMAL" property="waiGou" />
        <result column="yun_fei" jdbcType="DECIMAL" property="yunFei" />
        <result column="gong_shi" jdbcType="DECIMAL" property="gongShi" />
        <result column="others" jdbcType="DECIMAL" property="others" />
    </resultMap>
    <insert id="save" parameterType="com.louis.kitty.admin.model.Check">
        insert into b_check (id,f_id,create_time,create_by,han_cai,cai,re_ch,wai_wei,wai_gou,yun_fei,gong_shi,others)
        values (#{id,jdbcType=BIGINT},#{fId,jdbcType=BIGINT}, #{createTime,jdbcType=DATE}, #{createBy,jdbcType=VARCHAR},
        #{hanCai,jdbcType=DECIMAL},
        #{cai,jdbcType=DECIMAL},#{reCh,jdbcType=DECIMAL},#{waiWei,jdbcType=DECIMAL},#{waiGou,jdbcType=DECIMAL},
        #{yunFei,jdbcType=DECIMAL},#{gongShi,jdbcType=DECIMAL},#{others,jdbcType=DECIMAL})
    </insert>

</mapper>