<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.HelpMapper">
    <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.Help">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="f_id" jdbcType="VARCHAR" property="fId" />
        <result column="last_update_time" jdbcType="DATE" property="lastUpdateTime" />
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="work" jdbcType="VARCHAR" property="work" />
        <result column="help_nm" jdbcType="VARCHAR" property="helpNm" />
        <result column="start_date" jdbcType="DATE" property="startDate" />
        <result column="end_date" jdbcType="DATE" property="endDate" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="help_remarks" jdbcType="VARCHAR" property="helpRemarks"/>
        <result column="help_quan" jdbcType="VARCHAR" property="helpQuan"/>
        <result column="pay_date" jdbcType="DATE" property="payDate"/>
    </resultMap>
    <insert id="insert" parameterType="com.louis.kitty.admin.model.Help">
        insert into b_help (id,f_id,create_time,create_by,work,help_nm,start_date,end_date,price,help_remarks,help_quan,pay_date)
        values (#{id,jdbcType=BIGINT},#{fId,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{createBy,jdbcType=VARCHAR},
        #{work,jdbcType=VARCHAR}, #{helpNm,jdbcType=VARCHAR},#{startDate,jdbcType=DATE},#{endDate,jdbcType=DATE},
        #{price,jdbcType=DECIMAL},#{helpRemarks,jdbcType=VARCHAR},#{helpQuan,jdbcType=VARCHAR},#{payDate,jdbcType=DATE})
    </insert>
    <select id="query" resultMap="BaseResultMap">
        select
        *
        from b_help
        where f_id = #{param1,jdbcType=VARCHAR}
    </select>
    <update id="update" parameterType="com.louis.kitty.admin.model.Help">
        update b_help
        set
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
        last_update_time = #{lastUpdateTime,jdbcType=DATE},
        work = #{work,jdbcType=VARCHAR},
        help_nm = #{helpNm,jdbcType=VARCHAR},
        start_date = #{startDate,jdbcType=DATE},
        end_date = #{endDate,jdbcType=DATE},
        price =#{price,jdbcType=DECIMAL},
        help_remarks = #{helpRemarks,jdbcType=VARCHAR},
        help_quan = #{helpQuan,jdbcType=VARCHAR},
        pay_date = #{payDate,jdbcType=DATE}
        where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>