<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.MaterialIntMapper">
  <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.AccessMaterial">
     <id column="id" jdbcType="BIGINT" property="id" />
    <result column="m_name" jdbcType="VARCHAR" property="mName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dispatch" jdbcType="VARCHAR" property="dispatch" />
    <result column="batch" jdbcType="VARCHAR" property="batch" />
    <result column="texture" jdbcType="VARCHAR" property="texture" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="com" jdbcType="VARCHAR" property="com" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="int_time" jdbcType="TIMESTAMP" property="intTime" />
    <result column="int_number" jdbcType="BIGINT" property="intNumber" />
    <result column="tr_time" jdbcType="TIMESTAMP" property="trTime" />
    <result column="number" jdbcType="BIGINT" property="number" />
    <result column="waixie" jdbcType="VARCHAR" property="waixie" />
    <result column="wx_time" jdbcType="TIMESTAMP" property="wxTime" />
    <result column="wx_int" jdbcType="TIMESTAMP" property="wxInt" />
    <result column="wx_number" jdbcType="BIGINT" property="wxNumber" />
    <result column="wx_price" jdbcType="DECIMAL" property="wxPrice" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,name,m_name,dispatch,size,batch,texture,com,company,int_time,int_number,tr_time,number,waixie,wx_time,wx_int,wx_number,wx_price,type,remarks, create_by, create_time, last_update_by,
    last_update_time
  </sql>

  <select id="findPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tr_material_access
    where type = '2'
  </select>
  <select id="findPageByNameAndMName" parameterType="java.lang.String" resultMap="BaseResultMap">
    <bind name="pattern" value="'%' + _parameter.name + '%'" />
    <bind name="pattern1" value="'%' + _parameter.mName + '%'" />
    select
    <include refid="Base_Column_List" />
    from tr_material_access
    where name like #{pattern}
    and int_time between #{qianTime,jdbcType=TIMESTAMP} and #{houTime,jdbcType=TIMESTAMP}
    and m_name like #{pattern1}
        and type = '2'
  </select>

</mapper>