<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.OrderDispaMapper">
    <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.OrderDispa">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="f_id" jdbcType="VARCHAR" property="fId" />
        <result column="last_update_time" jdbcType="DATE" property="lastUpdateTime" />
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="dispatch_no" jdbcType="VARCHAR" property="dispatchNo" />
        <result column="dispa_no" jdbcType="VARCHAR" property="dispaNo" />
        <result column="category" jdbcType="VARCHAR" property="category" />
        <result column="supplier" jdbcType="VARCHAR" property="supplier" />
        <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
        <result column="dispa_make_time" jdbcType="DATE" property="dispaMakeTime" />
        <result column="use_unit" jdbcType="VARCHAR" property="useUnit" />
        <result column="product_no" jdbcType="VARCHAR" property="productNo" />
        <result column="flag" jdbcType="VARCHAR" property="flag" />
        <result column="mark_no" jdbcType="VARCHAR" property="markNo" />
        <result column="frock_no" jdbcType="VARCHAR" property="frockNo" />
        <result column="frock_nm" jdbcType="VARCHAR" property="frockNm" />
        <result column="units" jdbcType="VARCHAR" property="units" />
        <result column="dispa_quantity" jdbcType="VARCHAR" property="dispaQuantity" />
        <result column="dispa_content" jdbcType="VARCHAR" property="dispaContent" />
        <result column="dispa_basis" jdbcType="VARCHAR" property="dispaBasis" />
        <result column="delv_date" jdbcType="DATE" property="delvDate" />
        <result column="tech_con" jdbcType="VARCHAR" property="techCon" />
        <result column="quality" jdbcType="VARCHAR" property="quality" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="mould_quota" jdbcType="DECIMAL" property="mouldQuota" />
        <result column="complete_quan" jdbcType="VARCHAR" property="completeQuan" />
        <result column="dispa_remarks" jdbcType="VARCHAR" property="dispaRemarks" />
    </resultMap>


    <insert id="insert" parameterType="com.louis.kitty.admin.model.OrderDispa">
        insert into b_ord_dispa (id,f_id,create_time,create_by,dispatch_no,dispa_no,category,supplier,contract_no,
        dispa_make_time,use_unit,product_no,flag,mark_no,frock_no,frock_nm,units,dispa_quantity,dispa_content,
        dispa_basis,delv_date,tech_con,quality,price,mould_quota,complete_quan,dispa_remarks)

        values (#{id,jdbcType=BIGINT},#{fId,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{createBy,jdbcType=VARCHAR},
        #{dispatchNo,jdbcType=VARCHAR}, #{dispaNo,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR},
        #{supplier,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR},#{dispaMakeTime,jdbcType=DATE},
        #{useUnit,jdbcType=VARCHAR},#{productNo,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},#{markNo,jdbcType=VARCHAR},
        #{frockNo,jdbcType=VARCHAR},#{frockNm,jdbcType=VARCHAR},#{units,jdbcType=VARCHAR},#{dispaQuantity,jdbcType=VARCHAR},
        #{dispaContent,jdbcType=VARCHAR},#{dispaBasis,jdbcType=VARCHAR},#{delvDate,jdbcType=DATE},#{techCon,jdbcType=VARCHAR},
        #{quality,jdbcType=VARCHAR},#{price,jdbcType=DECIMAL},#{mouldQuota,jdbcType=DECIMAL},#{completeQuan,jdbcType=VARCHAR},
        #{dispaRemarks,jdbcType=VARCHAR})
    </insert>
    <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from b_ord_dispa
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="query" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from b_ord_dispa
        where f_id = #{fIda,jdbcType=VARCHAR}
    </select>
    <update id="update" parameterType="com.louis.kitty.admin.model.OrderDispa">
        update b_ord_dispa
        set last_update_time = #{lastUpdateTime,jdbcType=DATE},last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},dispatch_no = #{dispatchNo,jdbcType=VARCHAR},
        dispa_no = #{dispaNo,jdbcType=VARCHAR},category = #{category,jdbcType=VARCHAR},supplier = #{supplier,jdbcType=VARCHAR},contract_no = #{contractNo,jdbcType=VARCHAR},
        dispa_make_time = #{dispaMakeTime,jdbcType=VARCHAR},use_unit = #{useUnit,jdbcType=VARCHAR},product_no = #{productNo,jdbcType=VARCHAR},flag = #{flag,jdbcType=VARCHAR},
        mark_no = #{markNo,jdbcType=VARCHAR},frock_no = #{frockNo,jdbcType=VARCHAR},units = #{units,jdbcType=VARCHAR},dispa_quantity = #{dispaQuantity,jdbcType=VARCHAR},
        dispa_content = #{dispaContent,jdbcType=VARCHAR},dispa_basis = #{dispaBasis,jdbcType=VARCHAR},delv_date = #{delvDate,jdbcType=VARCHAR},
        tech_con = #{techCon,jdbcType=VARCHAR},quality = #{quality,jdbcType=VARCHAR},price = #{price,jdbcType=DECIMAL},mould_quota = #{mouldQuota,jdbcType=DECIMAL},
        complete_quan = #{completeQuan,jdbcType=VARCHAR},dispa_remarks = #{dispaRemarks,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>