<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.OrderMainMapper">
  <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.OrderMain">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="last_update_time" jdbcType="DATE" property="lastUpdateTime" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="lot_no" jdbcType="VARCHAR" property="lotNo" />
    <result column="cust" jdbcType="VARCHAR" property="cust" />
    <result column="mould_nm" jdbcType="VARCHAR" property="mouldNm" />
    <result column="quantity" jdbcType="BIGINT" property="quantity" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="dispatch_no" jdbcType="VARCHAR" property="dispatchNo"/>
    <result column="buy_material" jdbcType="VARCHAR" property="buyMaterial" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="ord_no" jdbcType="VARCHAR" property="ordNo" />
    <result column="ord_sts" jdbcType="VARCHAR" property="ordSts" />
    <result column="sts" jdbcType="VARCHAR" property="sts" />
    <result column="shuxing" jdbcType="VARCHAR" property="shuxing" />
    <result column="ware_date" jdbcType="DATE" property="wareDate" />
    <result column="out_date" jdbcType="DATE" property="outDate" />
    <result column="ware_num" jdbcType="BIGINT" property="wareNum" />
    <result column="out_num" jdbcType="BIGINT" property="outNum" />
    <result column="is_ware" jdbcType="BIGINT" property="isWare"/>
    <result column="is_out" jdbcType="BIGINT" property="isOut"/>
    <result column="kaipiao_time" jdbcType="DATE" property="kaipiaoTime" />
    <result column="bill_no" jdbcType="VARCHAR" property="billNo" />
    <result column="gongshi" jdbcType="DECIMAL" property="gongshi" />
    <result column="ware_no" jdbcType="VARCHAR" property="wareNo" />
    <result column="out_no" jdbcType="VARCHAR" property="outNo" />
  </resultMap>

  <insert id="insert" parameterType="com.louis.kitty.admin.model.OrderMain">
    insert into b_ord_main (id, lot_no,cust,mould_nm,quantity,company,dispatch_no,
    buy_material,remarks,flag,ord_sts,create_by,create_time,shuxing,out_num)
    values (#{id,jdbcType=VARCHAR}, #{lotNo,jdbcType=VARCHAR}, #{cust,jdbcType=VARCHAR},
      #{mouldNm,jdbcType=VARCHAR}, #{quantity,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR},
      #{dispatchNo,jdbcType=VARCHAR}, #{buyMaterial,jdbcType=VARCHAR},#{remarks,jdbcType=VARCHAR},
      #{flag,jdbcType=VARCHAR},'A',
      #{createBy,jdbcType=VARCHAR},#{createTime,jdbcType=DATE},#{shuxing,jdbcType=VARCHAR},0)
  </insert>
  <select id="select" parameterType="java.lang.String" resultType="java.lang.String">
    select id from b_ord_main
    where id = #{id,jdbcType=VARCHAR}

  </select>
  <select id="queryMoudles" parameterType="java.lang.String" resultType="java.lang.String">
   SELECT
	mould_nm
FROM
	b_ord_main
WHERE

ifnull(is_out, '') != '1'


  </select>
  <select id="selectQuan" parameterType="java.lang.String" resultType="java.lang.Integer">
    select quantity from b_ord_main
    where id = #{id,jdbcType=VARCHAR}

  </select>
  <update id="update" parameterType="com.louis.kitty.admin.model.OrderMain">
    update b_ord_main
    set lot_no = #{lotNo,jdbcType=VARCHAR},cust = #{cust,jdbcType=VARCHAR},mould_nm = #{mouldNm,jdbcType=VARCHAR},
    quantity = #{quantity,jdbcType=VARCHAR},dispatch_no = #{dispatchNo,jdbcType=VARCHAR},buy_material = #{buyMaterial,jdbcType=VARCHAR},
    remarks = #{remarks,jdbcType=VARCHAR},flag = #{flag,jdbcType=VARCHAR},company = #{company,jdbcType=VARCHAR},
    last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},last_update_time = #{lastUpdateTime,jdbcType=DATE},
    kaipiao_time = #{kaipiaoTime,jdbcType=DATE},bill_no = #{billNo,jdbcType=VARCHAR},gongshi = #{gongshi,jdbcType=DECIMAL},
    out_no = #{outNo,jdbcType=VARCHAR},ware_no = #{wareNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateWare" parameterType="com.louis.kitty.admin.model.OrderMain">
    update b_ord_main
    set ware_date = #{wareDate,jdbcType=DATE},ware_num = #{wareNum,jdbcType=BIGINT},ware_no = #{wareNo,jdbcType=VARCHAR},
    last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},last_update_time = #{lastUpdateTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateOut" parameterType="com.louis.kitty.admin.model.OrderMain">
    update b_ord_main
    set out_date = #{outDate,jdbcType=DATE},out_num = #{outNum,jdbcType=BIGINT},ware_no = #{wareNo,jdbcType=VARCHAR},
    last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},last_update_time = #{lastUpdateTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateA1" parameterType="java.lang.String">
    update b_ord_main
    set ord_sts = 'A1',
    is_ware = '1'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateE" parameterType="java.lang.String">
    update b_ord_main
    set
    is_out = '1'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateStsB" parameterType="java.lang.String">
    update b_ord_main
    set ord_sts = 'B'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateStsC" parameterType="java.lang.String">
    update b_ord_main
    set ord_sts = 'C'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateStsD" parameterType="java.lang.String">
    update b_ord_main
    set ord_sts = 'D'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="delete" parameterType="java.lang.String">
    update  b_ord_main
    set flag = 'N'
    where id = #{id,jdbcType=VARCHAR}
    and (ord_sts = 'A' or ord_sts = 'B')
  </delete>
  <select id="findPage" resultMap="BaseResultMap">
    select
    *,(case when ord_sts='A' then '已录入'when ord_sts='A1' then '已入库' when ord_sts='B' then '已预估成本' when ord_sts='C' then '已拆单' end)  sts
    from b_ord_main
    where ifnull(flag,'') != 'N'
    and ifnull(is_out,'') != '1'
    order by lot_no desc

  </select>
  <select id="findPageY" resultMap="BaseResultMap">
    select
    *,(case when ord_sts='A' then '已录入'when ord_sts='A1' then '已入库' when ord_sts='B' then '已预估成本' when ord_sts='C' then '已拆单' end)  sts
    from b_ord_main
    where ifnull(flag,'') != 'N'
    order by lot_no desc

  </select>
  <select id="findPageCom" resultMap="BaseResultMap">
    select
    *,(case when ord_sts='A' then '已录入'when ord_sts='A1' then '已入库' when ord_sts='B' then '已预估成本' when ord_sts='C' then '已拆单' end)  sts
    from b_ord_main
    where ifnull(flag,'') != 'N'
    and is_out = '1'
    and ord_sts = 'A1'

  </select>
  <select id="findPageZhu" resultMap="BaseResultMap">
    select
    *,(case when ord_sts='A' then '已录入'when ord_sts='A1' then '已入库' when ord_sts='B' then '已预估成本' when ord_sts='C' then '已拆单' end) sts
    from b_ord_main
    where ifnull(flag,'') != 'N'
    and shuxing = '铸造'
  </select>
  <select id="findPageQuery" resultMap="BaseResultMap">
   select
    *,(case when ord_sts='A' then '已录入'when ord_sts='A1' then '已入库' when ord_sts='B' then '已预估成本' when ord_sts='C' then '已拆单' end)  sts
    from b_ord_main
    where ifnull(flag,'') != 'N'
    and ord_sts = 'D'
  </select>

  <select id="findPageAb" resultMap="BaseResultMap">
    select
    *
    from b_ord_main where ord_sts = 'A1'or ord_sts ='B'
    and  ifnull(flag,'') != 'N'
  </select>
  <select id="findPageAboo" resultMap="BaseResultMap" parameterType="java.lang.String">
    <bind name="pattern1" value="'%' + _parameter.mouldNm+ '%'" />
  select
  *
  from b_ord_main where ord_sts = 'A1'or ord_sts ='B'
  and mould_nm like #{pattern1}
  and  ifnull(flag,'') != 'N'
</select>
  <select id="findPageByLabel" resultMap="BaseResultMap" parameterType="java.lang.String">
    <bind name="pattern" value="'%' + _parameter.cust+ '%'" />
    <bind name="pattern1" value="'%' + _parameter.mouldNm+ '%'" />
    <bind name="pattern2" value="'%' + _parameter.lotNo+ '%'" />
    select
    *
    from b_ord_main where
    cust like #{pattern}
    and mould_nm like #{pattern1}
    and lot_no like #{pattern2}
    <if test="qianTime!=null and qianTime!=''"> and ware_date &gt;=#{qianTime,jdbcType=TIMESTAMP}</if>
    <if test="houTime!=null and houTime!=''"> and ware_date &lt;=#{houTime,jdbcType=TIMESTAMP}</if>
    and  ifnull(flag,'') != 'N'
    and ifnull(is_out,'') != '1'

  </select>
  <select id="findPageByY" resultMap="BaseResultMap" parameterType="java.lang.String">
    <bind name="pattern" value="'%' + _parameter.cust+ '%'" />
    <bind name="pattern1" value="'%' + _parameter.mouldNm+ '%'" />
    select
    *
    from b_ord_main where
    cust like #{pattern}
    and mould_nm like #{pattern1}
    and  ifnull(flag,'') != 'N'

  </select>
  <select id="findPageByCom" resultMap="BaseResultMap" parameterType="java.lang.String">
    <bind name="pattern" value="'%' + _parameter.cust+ '%'" />
    <bind name="pattern1" value="'%' + _parameter.mouldNm+ '%'" />
    select
    *
    from b_ord_main where
    cust like #{pattern}
    and mould_nm like #{pattern1}
    and  ifnull(flag,'') != 'N'
    and is_out = '1'
    and ord_sts= 'A1'

  </select>
  <select id="findPageZhuoo" resultMap="BaseResultMap" parameterType="java.lang.String">
    <bind name="pattern" value="'%' + _parameter.cust+ '%'" />
    <bind name="pattern1" value="'%' + _parameter.mouldNm+ '%'" />
    <bind name="pattern2" value="'%' + _parameter.lotNo+ '%'" />
    select
    *
    from b_ord_main where
    cust like #{pattern}
    and mould_nm like #{pattern1}
    and lot_no like #{pattern2}
    and  ifnull(flag,'') != 'N'
    and ifnull(shuxing,'') = '铸造'
  </select>
  <select id="findPageQueryoo" resultMap="BaseResultMap" parameterType="java.lang.String">
    <bind name="pattern" value="'%' + _parameter.cust+ '%'" />
    <bind name="pattern1" value="'%' + _parameter.mouldNm+ '%'" />
    select
    *,(case when ord_sts='A' then '已录入'when ord_sts='A1' then '已入库' when ord_sts='B' then '已预估成本' when ord_sts='C' then '已拆单' end)  sts
    from b_ord_main
    where ord_sts = 'A1'
    and cust like #{pattern}
    and mould_nm like #{pattern1}

  </select>

  <select id="query" resultMap="BaseResultMap">
    select
    *
    from b_ord_main where ifnull(lot_no,'') like concat ('%',#{param1,jdbcType=VARCHAR},'%')
    and ifnull(cust,'') like concat ('%',#{param2,jdbcType=VARCHAR},'%')
    and ifnull(dispatchNo,'') like concat ('%',#{param3,jdbcType=VARCHAR},'%')
    and  ifnull(flag,'') != 'N'
  </select>
  <select id="selectPrimaryKey" resultType="java.lang.String">
    SELECT  REPLACE(UUID(),'-','') from dual
  </select>

</mapper>