<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.TrStockManageMapper">
    <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.TrStockManage">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="tr_name" jdbcType="VARCHAR" property="trName" />
        <result column="tr_type" jdbcType="VARCHAR" property="trType" />
        <result column="tr_subdivide" jdbcType="VARCHAR" property="trSubdivide" />
        <result column="tr_number" jdbcType="BIGINT" property="trNumber" />
        <result column="x_number" jdbcType="BIGINT" property="xNumber" />
        <result column="number" jdbcType="BIGINT" property="number" />
        <result column="tr_price" jdbcType="DECIMAL" property="trPrice" />
        <result column="in_number" jdbcType="BIGINT" property="inNumber" />
        <result column="out_number" jdbcType="BIGINT" property="outNumber" />
        <result column="type" jdbcType="BIGINT" property="type" />
        <result column="type_number" jdbcType="BIGINT" property="typeNumber" />
        <result column="tr_remarks" jdbcType="VARCHAR" property="trRemarks" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    </resultMap>
    <sql id="Base_Column_List">
    id,tr_name,tr_type,tr_subdivide,tr_number,x_number,number,tr_price,in_number,out_number,type,type_number,tr_remarks ,create_by, create_time, last_update_by,
    last_update_time
  </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tr_stock_manage
    where id = #{id,jdbcType=BIGINT}
     </delete>
    <select id="findPageByNameAndType" parameterType="java.lang.String" resultMap="BaseResultMap">
        <bind name="pattern" value="'%' + _parameter.trName + '%'" />
        <bind name="pattern1" value="'%' + _parameter.trType + '%'" />
        <bind name="pattern2" value="'%' + _parameter.trSubdivide + '%'" />
        select
        <include refid="Base_Column_List" />
        from tr_stock_manage
        where tr_name like #{pattern}
        and tr_type like #{pattern1}
        and tr_subdivide like #{pattern2}
    </select>
    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tr_stock_manage
    </select>
    <select id="findPageAb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tr_stock_manage
        where type = '1'
    </select>
    <insert id="insertSelective" parameterType="com.louis.kitty.admin.model.TrStockManage">
        insert into tr_stock_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="trName != null">
                tr_name,
            </if>
            <if test="trType != null">
                tr_type,
            </if>
            <if test="trSubdivide != null">
                tr_subdivide,
            </if>
            <if test="trNumber != null">
                tr_number,
            </if>
            <if test="xNumber != null">
                x_number,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="trPrice != null">
                tr_price,
            </if>
            <if test="inNumber != null">
                in_number,
            </if>
            <if test="outNumber != null">
                out_number,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="typeNumber != null">
                type_number,
            </if>
            <if test="trRemarks != null">
                tr_remarks,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateBy != null">
                last_update_by,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>


        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="trName != null">
                #{trName,jdbcType=VARCHAR},
            </if>
            <if test="trType != null">
                #{trType,jdbcType=VARCHAR},
            </if>
            <if test="trSubdivide != null">
                #{trSubdivide,jdbcType=VARCHAR},
            </if>
            <if test="trNumber != null">
                #{trNumber,jdbcType=VARCHAR},
            </if>
            <if test="xNumber != null">
                #{xNumber,jdbcType=BIGINT},
            </if>
            <if test="number != null">
                #{number,jdbcType=BIGINT},
            </if>
            <if test="trPrice != null">
                #{trPrice,jdbcType=DECIMAL},
            </if>
            <if test="inNumber != null">
                #{inNumber,jdbcType=BIGINT},
            </if>
            <if test="outNumber != null">
                #{outNumber,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="typeNumber != null">
                #{typeNumber,jdbcType=VARCHAR},
            </if>
            <if test="trRemarks != null">
                #{trRemarks,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                #{lastUpdateBy,jdbcType=BIGINT},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>


        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.louis.kitty.admin.model.TrStockManage">
        update tr_stock_manage
        <set>
            <if test="trName != null">
                tr_name = #{trName,jdbcType=VARCHAR},
            </if>
            <if test="trType != null">
                tr_type = #{trType,jdbcType=VARCHAR},
            </if>
            <if test="trSubdivide != null">
                tr_subdivide = #{trSubdivide,jdbcType=VARCHAR},
            </if>
            <if test="trNumber != null">
                tr_number = #{trNumber,jdbcType=DECIMAL},
            </if>
            <if test="xNumber != null">
                x_number = #{xNumber,jdbcType=BIGINT},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=BIGINT},
            </if>
            <if test="trPrice != null">
                tr_price = #{trPrice,jdbcType=VARCHAR},
            </if>
            <if test="inNumber != null">
                in_number = #{inNumber,jdbcType=BIGINT},
            </if>
            <if test="outNumber != null">
                out_number = #{outNumber,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="typeNumber != null">
                type_number = #{typeNumber,jdbcType=VARCHAR},
            </if>
            <if test="trRemarks != null">
                tr_remarks = #{trRemarks,jdbcType=TINYINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>

        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>