<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.WeldingIntOutMapper">
    <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.Welding">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="de_time" jdbcType="TIMESTAMP" property="deTime" />
        <result column="de_company" jdbcType="VARCHAR" property="deCompany" />
        <result column="source" jdbcType="VARCHAR" property="source" />
        <result column="model" jdbcType="VARCHAR" property="model" />
        <result column="de_number" jdbcType="DOUBLE" property="deNumber" />
        <result column="company" jdbcType="VARCHAR" property="company" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="sum_price" jdbcType="DOUBLE" property="sumPrice" />
        <result column="out_time" jdbcType="TIMESTAMP" property="outTime" />
        <result column="int_time" jdbcType="TIMESTAMP" property="intTime" />
        <result column="re_number" jdbcType="DOUBLE" property="reNumber" />
        <result column="number" jdbcType="DOUBLE" property="number" />
        <result column="s_number" jdbcType="DOUBLE" property="sNumber" />
        <result column="type" jdbcType="BIGINT" property="type" />
        <result column="mould_name" jdbcType="VARCHAR" property="mouldName" />
        <result column="zu" jdbcType="VARCHAR" property="zu" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    </resultMap>
    <sql id="Base_Column_List">
    id,name,de_time,de_company,de_number,source,model,company,price,sum_price,out_time,int_time,re_number,number,s_number,type,mould_name,zu,remarks ,create_by, create_time, last_update_by,
    last_update_time
  </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tr_welding_int_out
    where id = #{id,jdbcType=BIGINT}
     </delete>
    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tr_welding_int_out
        where type = '0'
    </select>
    <select id="findPageAb" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tr_welding_int_out
        where type ='2'
    </select>
    <select id="findPage1" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tr_welding_int_out
        where type ='1'
    </select>
    <select id="findPageT" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tr_welding_int_out
        where type ='3'
    </select>
    <select id="findPageByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        <bind name="pattern" value="'%' + _parameter.name + '%'" />
        select
        <include refid="Base_Column_List" />
        from tr_welding_int_out
        where name like #{pattern}
         and type ='0'
    </select>
    <select id="findPageByAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        <bind name="pattern" value="'%' + _parameter.name + '%'" />
        <bind name="pattern1" value="'%' + _parameter.mouldName + '%'" />
        <bind name="pattern2" value="'%' + _parameter.model + '%'" />
        <bind name="pattern3" value="'%' + _parameter.zu + '%'" />
        select
        <include refid="Base_Column_List" />
        from tr_welding_int_out
        where name like #{pattern}
        and mould_name like #{pattern1}
        and model like #{pattern2}
        and zu like #{pattern3}
        and type ='1'
    </select>
    <select id="findPageByNameAndModel" parameterType="java.lang.String" resultMap="BaseResultMap">
        <bind name="pattern" value="'%' + _parameter.name + '%'" />
        <bind name="pattern1" value="'%' + _parameter.deCompany + '%'" />
        <bind name="pattern2" value="'%' + _parameter.model + '%'" />

        select
        <include refid="Base_Column_List" />
        from tr_welding_int_out
        where name like #{pattern}
        and de_company like #{pattern1}
        and model like #{pattern2}
        and type ='2'
    </select>
    <select id="findPageByDeCompany" parameterType="java.lang.String" resultMap="BaseResultMap">
        <bind name="pattern" value="'%' + _parameter.name + '%'" />
        <bind name="pattern1" value="'%' + _parameter.deCompany + '%'" />
        <bind name="pattern2" value="'%' + _parameter.model + '%'" />

        select
        <include refid="Base_Column_List" />
        from tr_welding_int_out
        where name like #{pattern}
        and de_company like #{pattern1}
        and model like #{pattern2}
        and type ='3'
    </select>
    <insert id="insertSelective" parameterType="com.louis.kitty.admin.model.WeldingManage">
        insert into tr_welding_int_out
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="deTime != null">
                de_time,
            </if>
            <if test="deCompany != null">
                de_company,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="deNumber != null">
                de_number,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="sumPrice != null">
                sum_price,
            </if>
            <if test="intTime != null">
                int_time,
            </if>
            <if test="outTime != null">
                out_time,
            </if>
            <if test="reNumber != null">
                re_number,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="sNumber != null">
                s_number,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="mouldName != null">
                mould_name,
            </if>
            <if test="zu != null">
                zu,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateBy != null">
                last_update_by,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>


        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="deTime != null">
                #{deTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deCompany != null">
                #{deCompany,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="deNumber != null">
                #{deNumber,jdbcType=DOUBLE},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="sumPrice != null">
                #{sumPrice,jdbcType=DOUBLE},
            </if>
            <if test="intTime != null">
                #{intTime,jdbcType=TIMESTAMP},
            </if>
            <if test="outTime != null">
                #{outTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reNumber != null">
                #{reNumber,jdbcType=DOUBLE},
            </if>
            <if test="number != null">
                #{number,jdbcType=DOUBLE},
            </if>
            <if test="sNumber != null">
                #{sNumber,jdbcType=DOUBLE},
            </if>
            <if test="type != null">
                #{type,jdbcType=BIGINT},
            </if>
            <if test="mouldName != null">
                #{mouldName,jdbcType=VARCHAR},
            </if>
            <if test="zu != null">
                #{zu,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                #{lastUpdateBy,jdbcType=BIGINT},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>


        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.louis.kitty.admin.model.WeldingManage">
        update tr_welding_int_out
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="deTime != null">
                de_time = #{deTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deCompany != null">
                de_company = #{deCompany,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source =  #{source,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model =  #{model,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                company =  #{company,jdbcType=VARCHAR},
            </if>
            <if test="deNumber != null">
                de_number = #{deNumber,jdbcType=DOUBLE},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="sumPrice != null">
                sum_price = #{sumPrice,jdbcType=DOUBLE},
            </if>
            <if test="intTime != null">
                int_time = #{intTime,jdbcType=TIMESTAMP},
            </if>
            <if test="outTime != null">
                out_time = #{outTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reNumber != null">
                re_number =  #{reNumber,jdbcType=DOUBLE},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=DOUBLE},
            </if>
            <if test="sNumber != null">
                s_number =  #{sNumber,jdbcType=DOUBLE},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=BIGINT},
            </if>
            <if test="mouldName != null">
                mould_name = #{mouldName,jdbcType=VARCHAR},
            </if>
            <if test="zu != null">
                zu =  #{zu,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>

        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="queryTogeter" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        w.*
        from tr_welding_int_out w,b_ord_main o
        where o.id = #{id,jdbcType=VARCHAR}
        and w.mould_name = o.mould_nm
        and w.type = 1
    </select>
</mapper>