<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.YunMapper">
    <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.YunFei">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="a_time" jdbcType="DATE" property="aTime" />
<!--        <result column="qian_time" jdbcType="DATE" property="qianTime" />-->
<!--        <result column="hou_time" jdbcType="DATE" property="houTime" />-->
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="material" jdbcType="VARCHAR" property="material" />
        <result column="mould" jdbcType="VARCHAR" property="mould" />
        <result column="descri" jdbcType="VARCHAR" property="descri" />
        <result column="logis" jdbcType="VARCHAR" property="logis" />
        <result column="price" jdbcType="DOUBLE" property="price"/>
    </resultMap>

    <select id="findPage" resultMap="BaseResultMap">
        select
        a.delv_date as a_time,
        a.descri as descri ,
        b.mould_nm as mould,
        b.quantity as number,
        a.price as price ,
        a.logis as logis,
        a.material as material,
        a.remarks as remarks
        from b_ord_main b left join b_fare a
        on b.id = a.f_id
        where a.price is not null
    </select>
    <select id="findPageByMouldAndTime" parameterType="java.lang.String" resultMap="BaseResultMap">
        <bind name="pattern" value="'%' + _parameter.mould + '%'" />
        <bind name="pattern1" value="'%' + _parameter.logis + '%'" />
        select
        a.delv_date as a_time,
        a.descri as descri ,
        b.mould_nm as mould,
        b.quantity as number,
        a.price as price ,
        a.logis as logis,
        a.material as material,
        a.remarks as remarks
        from b_ord_main b left join b_fare a
        on b.id = a.f_id
        where a.price is not null
        and b.mould_nm like #{pattern}
        and a.logis like #{pattern1}
        and a.delv_date between #{qianTime,jdbcType=TIMESTAMP} and #{houTime,jdbcType=TIMESTAMP}
    </select>
</mapper>